h1 Foscl Website Enquiry
table(style="width: 80%;font-family:Tahoma; border: 1px solid #74a2ed; background-color:#abc7f4")
  tr
    td
      p A visitor to the foscl website has made an enquiry.
      p Their query has been automatically allocated based on the way the vistor (sender) categorised their question and forwarded only to you.
      p Please try to answer this enquiry as soon as possible or acknowledge it within 48 hours of receipt.
      p If this enquiry should be directed elsewhere please forward this message to the relevant person and copy your email to the sender.  
h2 From : #{name} &lt;#{email}&gt;
h2 #{category}: #{subject}
h2 Message
p #{message}