extends ../layouts/foscl
block link
  -var activeMenu = 'Events';

mixin displayEvent(event)
  // events are contained in json objects
  .showevent
    h2(id=event.id) #{event.title}
    .col-md-4
      if(event.title_image)
        img(src=event.title_image.src width="100%")
      h4 #{event.start_dttm}
      h5 #{event.time2}
      h6 #{event.venue}
      br
      
    .col-md-8
      if(event.image)
        img(src=event.image.src width='60%')
      if(event.html)
        p!= event.html
      else
        for paragraph in event.text
          p=paragraph
      p #{event.tickets}
      p #{event.prices}
      if(event.link)
        a(href=event.link.destination) #{event.link.text}
    .clearfix
  

append body
  h1 Forthcoming Events
  .container
    each event in events
      +displayEvent(event)

