extends ../layouts/foscl
block link
  -var activeMenu = 'Events';

mixin displayEvent(event)
  // events are contained in json objects
  .showevent
    h2 #{event.title}
    if(event.title_image)
      img(src=event.title_image.src width="25%")
    h4 #{event.start_dttm}
    h5 #{event.time2}
    h6 #{event.venue}
    if (event.image)
      br
      .col-md-4
        img(src='/images/writerslife.jpg' width='100%')
      .col-md-8
        p #{event.text}
        p #{event.tickets}
        p #{event.prices}
      .clearfix
    else
      p #{event.text}
      p #{event.tickets}
      p #{event.prices}
    

append body
  h1 Forthcoming Events
  .container
    each event in events
      +displayEvent(event)

